body{
    font-family: sans-serif;
    margin:-25px 0px;
    font-size: 14px;
}
nav{
    background-color: black;
    text-align: center;
    color: aliceblue;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
   
}
ul{
    background-color: rgb(42, 43, 43);
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    color:  rgb(42, 43, 43);
    margin: 0px;
    padding : 1% 22%; 
    border-top: solid 1px rgb(243, 238, 238);
    font-size: 12px;
}

.abouttct{
 text-align: center;   
}
img{
    height:160px;
    width: 160px;
     border-radius: 90px;
     margin-left: 48%;
     border: solid 2px black;
}
table,td,th {
    border: solid black 1px;
    border-spacing: 0px;
    margin: 0px 80px; 
}
#head-for-tb{
    text-align: center;
   }
th{
    background-color: rgb(42, 43, 43);
    color: aliceblue;
}
td{ 
    width: 380px;
    padding: 5px;
}
.p1{
   text-align: center; 
}
.p2{
text-align: center;
color: gray;
}
.div1{
    background-color: rgb(250, 246, 231);
}

.div2{
    background-color: rgb(253, 254, 255);
    margin: 0px 70px;
}
fieldset{
    margin-bottom: 26px;
    }
#register-butt{ 
    margin: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    padding: 6px;
    }
    #art{
        border: dashed 1px rgb(127, 127, 127);
        text-align: center;
        margin-bottom:-5px;
    }
    .list{
        color: aliceblue;
        text-decoration: none;
    }
    
     .list:hover{
       color: rgb(99, 26, 245); 
        text-decoration-line: underline;
    }
    footer{
        background-color: rgb(24, 24, 24);
        color: aliceblue;
        text-align: center;
        font-size:12px;
        padding-bottom: 60px;
    }
    hr{
        color: aliceblue;
        padding-top: 20px;
    }
    h3{
        font-family: Arial ;
    }